@use 'base/variables' as v;
@use 'base/mixins' as m;

$color-login: v.$cyan;

.login{
    margin-top: 5rem;
    .uptask{
        @include m.textoDegradado($color-login)
    }

    input[type="submit"]{
        @include m.boton($color-login , v.$blanco)
    }
    .acciones{
        a{
            color:$color-login;
        }
    }
    .formulario{
        label{
            color:$color-login;
            font-weight: bold;
        }
    }
}