@use 'base/variables' as v;
@use 'base/mixins' as m;

$color-mensaje: v.$naranja;

.mensaje{
    margin-top: 5rem;
    .uptask{
        @include m.textoDegradado($color-mensaje)
    }
}
.email-usuario{
    font-weight: 700;
    font-size: 5rem;
    margin-top: 5rem;
    color: $color-mensaje;
    text-align: center;
    
}